<app-header></app-header>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-10">
      <div class="card mx-3 my-5">
        <div class="card">
          <div class="card-header">
            <div class="row">
              <div class="col-12 text-center">
                <p class="mb-2 fs-3 fw-bold">Movimientos</p>
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="row form-group my-2">
              <div class="col-2 text-start">
                <b><label for="nombre">Saldo: </label></b>
              </div>
              <div class="col-10">
                <span>$ {{saldo | number }}</span>
              </div>
            </div>
          </div>

          <div class="container-fluid">
            <div class="col-6">
              <table class="table">
                <thead>
                  <tr>
                    <th class="h5">Fecha</th>
                    <th class="h5">Descripcion</th>
                    <th class="h5">Valor</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let cta of mostrarCuentas; index as i" (click)="onSelect(carrera, i)"
                    [ngClass]="{'selected': i === indiceSeleccionado}">
                    <td>{{ pipe.transform(cta.fecha_registro, 'dd/MM/yyyy')}}
                    <td *ngIf="cta.tipo else elseBlock">Deposito</td>
                    <ng-template #elseBlock><td>Retiro</td></ng-template>
                    <td>{{cta.valor}}</td>

                  </tr>
                </tbody>

              </table>
            </div>
          </div>



          <div class="card-footer">
            <button class="btn btn-danger" (click)="cerrar()">Cerrar</button>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
